body {
    margin: 0;
    background-color: #F2F2F2;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.header {
    background: url(../img/Slider.png) no-repeat 50% 50%/cover;
    padding: 24px 0 210px 0;

    .header__inner {
        .header__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .header__bottom {
            position: relative;
            padding: 121px 0 0 0;

            .header__suptitle {
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #FFFFFF;
            }

            .header__title {
                font-weight: 700;
                font-size: 60px;
                line-height: 74px;
                color: #FFFFFF;

                margin: 22px 0 24px 0;
            }

            .header__subtitle {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #FFFFFF;

                margin: 0 0 45px 0;
            }

            .header__link {
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: #D4D6D4;

                transition: .2s linear;

                &:hover {
                    color: #FFD723;
                }
            }

            .brand__block {
                position: absolute;
                right: 0;
                width: 1276px;
                padding: 54px 0;
                margin: 107px 0 0 0;
                background-color: #FFFFFF;
                border-radius: 2px;
                box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);

                .brands {
                    display: flex;

                    div {
                        margin-left: 66px;
                        
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.section01 {
    .first__inner {
        display: flex;
        align-items: center;
        padding: 0 0 150px 0;
        border-bottom: 1px solid rgba(33, 56, 66, 0.1);

        .first__left {
            .first__suptitle {
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #4D533CE5;
                opacity: 90%;
            }

            .first__title {
                font-weight: 700;
                font-size: 36px;
                line-height: 46px;
                color: #4D533C;

                margin: 29px 0 35px 0;
            }

            .first__subtitle {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #21384299;
                opacity: 60%;

                margin: 0 0 42px 0;
            }

            .first__link {
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: #D4D6D4;

                transition: .2s linear;

                &:hover {
                    color: #FFD723;
                }
            }
        }

        .first__right {
            width: 474px;
            padding: 244px 8px 60px 40px;
            margin-left: 160px;
            background-color: #FFFFFF;
            box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);

            p {
                font-weight: 400;
                font-style: italic;
                font-size: 24px;
                line-height: 40px;
                color: #4D533C;
            }

            .f-right__bottom {
                display: flex;
                align-items: center;

                .f-photo {
                    img {
                        box-shadow: 20px 25px 43px rgba(59, 34, 34, 0.18);
                    }
                }

                .f-texts {
                    margin-left: 30px;

                    .f-name {
                        font-weight: 700;
                        font-size: 22px;
                        line-height: 33px;
                        color: #4D533C;
                    }

                    .work {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        color: #152934;
                    }
                }
            }
        }
    }
}

.content__title {
    padding: 150px 0 0 0;

    .content__inner {
        display: flex;
        justify-content: space-between;

        h2 {
            font-weight: 700;
            font-size: 36px;
            line-height: 54px;
            color: #4D533C;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #21384299;
            opacity: 60%;

            margin-left: 133px;
        }
    }
}

.section02 {
    padding: 104px 0 0 0;

    .second__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .second__left {
            position: relative;

            img {
                width: 100%;
            }

            .second__content {
                position: absolute;
                top: 67%;
                left: 44%;
                width: 100%;
                max-width: 453px;
                padding: 30px 33px 31px 30px;
                border-radius: 8px;
                background-color: #FFFFFF;
                box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.15);

                p {
                    font-weight: 400;
                    font-style: italic;
                    font-size: 16px;
                    line-height: 26px;
                    color: #4D533C;
                }
                
                .second__people {
                    display: flex;
                    margin-top: 25px;

                    .s-photo {
                        img {
                            width: 100%;
                            box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
                        }
                    }

                    .s-texts {
                        margin-left: 14px;

                        .name {
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 24px;
                            color: #4D533C;
                        }

                        .work {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 21px;
                            color: #152934;

                            margin-top: 4px;
                        }
                    }
                }
            }
        }

        .second__right {
            margin: 0 0 0 96px;

            .second__title {
                font-weight: 700;
                font-size: 36px;
                line-height: 48px;
                color: #4D533C;
            }

            .second__subtitle {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #21384299;
                opacity: 60%;

                margin: 24px 0 90px 0;
            }

            .second__link {
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: #D4D6D4;

                transition: .2s linear;

                &:hover {
                    color: #FFD723;
                }
            }
        }
    }
}

.section03 {
    padding: 165px 0 0 0;

    .third__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .third__left {
            margin: 0 112px 0 0;

            .third__title {
                font-weight: 700;
                font-size: 36px;
                line-height: 48px;
                color: #4D533C;
            }

            .third__subtitle {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #21384299;
                opacity: 60%;

                margin: 24px 0 90px 0;
            }

            .third__link {
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: #D4D6D4;

                transition: .2s linear;

                &:hover {
                    color: #FFD723;
                }
            }
        }

        .third__right {
            position: relative;

            img {
                width: 100%;
            }

            .third__content {
                position: absolute;
                top: 61%;
                right: 45%;
                width: 100%;
                max-width: 453px;
                padding: 30px 33px 31px 30px;
                border-radius: 8px;
                background-color: #FFFFFF;
                box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.15);

                p {
                    font-weight: 400;
                    font-style: italic;
                    font-size: 16px;
                    line-height: 26px;
                    color: #4D533C;
                }
                
                .third__people {
                    display: flex;
                    margin-top: 25px;

                    .t-photo {
                        img {
                            width: 100%;
                            box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
                        }
                    }

                    .t-texts {
                        margin-left: 14px;

                        .name {
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 24px;
                            color: #4D533C;
                        }

                        .work {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 21px;
                            color: #152934;

                            margin-top: 4px;
                        }
                    }
                }
            }
        }
    }
}

.section04 {
    padding: 135px 0 0 0;

    .fourth__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .fourth__left {
            position: relative;

            img {
                width: 100%;
            }

            .fourth__content {
                position: absolute;
                top: 68%;
                left: 44%;
                width: 100%;
                max-width: 453px;
                padding: 30px 33px 31px 30px;
                border-radius: 8px;
                background-color: #FFFFFF;
                box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.15);

                p {
                    font-weight: 400;
                    font-style: italic;
                    font-size: 16px;
                    line-height: 26px;
                    color: #4D533C;
                }
                
                .fourth__people {
                    display: flex;
                    margin-top: 25px;

                    .f-photo {
                        img {
                            width: 100%;
                            box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
                        }
                    }

                    .f-texts {
                        margin-left: 14px;

                        .name {
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 24px;
                            color: #4D533C;
                        }

                        .work {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 21px;
                            color: #152934;

                            margin-top: 4px;
                        }
                    }
                }
            }
        }

        .fourth__right {
            margin: 0 0 0 95px;

            .fourth__title {
                font-weight: 700;
                font-size: 36px;
                line-height: 48px;
                color: #4D533C;
            }

            .fourth__subtitle {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #21384299;
                opacity: 60%;

                margin: 24px 0 90px 0;
            }

            .fourth__link {
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: #D4D6D4;

                transition: .2s linear;

                &:hover {
                    color: #FFD723;
                }
            }
        }
    }
}

.border {
    padding: 190px 0 0 0;
    border-bottom: 1px solid rgba(33, 56, 66, 0.0955529);
}

.section05 {
    padding: 149px 0 322px 0;

    .fifth__inner {
        .fifth__title {
            font-weight: 700;
            font-size: 36px;
            line-height: 46px;
            color: #4D533C;
        }

        .four__items {
            display: flex;
            justify-content: space-between;
            margin: 60px 0 0 0;

            .four__item {
                width: 255px;

                &:first-child {
                    margin: 0;
                }

                padding: 27px 31px 36px 30px;
                margin: 0 0 0 30px;
                box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
                border-radius: 4px;
                background-color: #FFFFFF;

                h3 {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 34px;
                    color: #4D533C;
                }

                p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 26px;
                    color: #21384299;
                    opacity: 60%;

                    margin: 20px 0 56px 0;
                }

                a {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    color: #D4D6D4;

                    transition: .2s linear;

                    &:hover {
                        color: #FFD723;
                    }
                }
            }
        }

        .fifth__bottom {
            position: absolute;
            left: 0;
            max-width: 1275px;
            padding: 70px 289px 70px 164px;
            margin: 10% 0 0 0;
            background-color: #FAFAFA;
            box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);

            h2 {
                font-weight: 700;
                font-size: 60px;
                line-height: 74px;
                color: #4D533C;

                margin: 0 0 50px 0;
            }

            a {
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: #D4D6D4;

                transition: .2s linear;

                &:hover {
                    color: #FFD723;
                }
            }
        }
    }
}

.footer {
    padding: 322px 0 0 0;
    background: url(../img/Bg.png);
    

    .footer__inner {
        .footer__top {
            display: flex;
            padding: 0 0 52px 0;
            border-bottom: 1px solid #5D6544;

            ul {
                &:first-child {
                    margin: 0;
                }

                font-weight: 400;
                font-size: 16px;
                line-height: 40px;
                color: #B6C197;

                padding: 0;
                list-style: none;

                margin: 0 0 0 128px;

                li {
                    a {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 40px;
                        color: #FFFFFF;

                        margin: 8px 0 0 0;
                        text-decoration: none;
                    }
                }
            }
        }

        .footer__bottom {
            display: flex;
            justify-content: space-between;
            padding: 60px 0 67px 0;
            border-bottom: 1px solid #5D6544;

            ul {
                &:first-child {
                    margin: 0;
                }

                font-weight: 600;
                font-size: 16px;
                line-height: 38px;
                color: #FFFFFF;

                padding: 0;
                list-style: none;
                margin: 0 0 0 100px;

                &:last-child {
                    border-left: 1px solid #5D6544;
                    padding: 0 0 0 110px;
                }

                li {
                    &:first-child {
                        margin: 21px 0 0 0;
                    }

                    a {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 40px;
                        color: #B6C197;

                        text-decoration: none;
                    }
                }

                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    color: #B6C197;

                    margin: 23px 0 23px 0;
                }

                a {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 38px;
                    color: #FFFFFF;

                    text-decoration: none;
                }

                .footer__soc {
                    margin: 24px 0 0 0;

                    a {
                        &:first-child {
                            margin: 0;
                        }

                        background-color: #444A34;
                        border-radius: 50%;
                        text-align: center;

                        margin: 0 0 0 11px;

                        transition: .2s linear;

                        &:hover {
                            background-color: #FFD723;

                            .fab {
                                color: #FFFFFF;
                            }
                        }

                        .fab {
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 21px;

                            width: 33px;
                            height: 33px;
                            color: #5E6648;
                        }
                    }
                }
            }
        }

        .footer__footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 24px 0 30px 0;

            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #B5C096;
            }
        }
    }
}

.container {
    padding: 0 166px;
}

.container__right {
    padding: 0 172px 0 0;
}

.container__left {
    padding: 0 0 0 172px;
}